<div id="map-container" class="container_12">

  <div id="description">

    <div id="description-title">
      Cada mudanza es una oportunidad
    </div>

    <div id="description-body" class="description-text">
      nomelollevo hace f&aacute;cil que te deshagas de las cosas que te sobran o
      que encuentres chollos y oportunidades cerca de tu casa.
    </div>
    <div id="sub-description-body" class="description-text">
      Todo con un par de clics.
    </div>

    <a id="new-sale-home-button" class="button" href="/authentication/facebook">
      <span>Crea una nueva venta</span>
    </a>
  </div>

</div>
