<div id="map-container" class="container_12">

  <div id="description">

    <div id="description-title">
      Cada mudanza es una oportunidad
    </div>

    <span id="description-body">
      nomelollevo hace f&aacute;cil que te deshagas de las cosas que te sobran o
      que encuentres chollos y oportunidades cerca de tu casa.<br/>

      Todo con un par de clics.
    </span>

    <span id="new-sale-button" class="button">
      Crea una nueva venta
    </span>
  </div>

</div>
